/*
	START splash area styling
*/
.splash-area-container {
	color: white;
	padding-top: 150px;
	text-align: center;

	background-image: url("../../img/developer-working-on-site.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: relative;
	height: 95vh;
	width: 100%;
}

.splash-h1 {
	padding-top: 15%;
	font-size: 6em;
	font-weight: 800;
}

.contact-us-splash-button {
	margin-top: 35px;
	font-size: 1.5em;
}

@media (max-width: 760px) {
	.splash-area-container {
		height: 75vh;
		padding-top: 100px;
	}
	.splash-h1 {
		padding-top: 0%;
		font-size: 4em;
		line-height: 1.3;
	}
}

/*
	END splash area styling
*/

/*
	START three reasons to choose us styling
*/

.three-reasons-to-choose-us {
	background: #E9E9E9;
	min-height: 400px;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
}

.circle-with-number {
	border-radius: 50%;
	background-color: black;
	color: white;
	width: 80px;
	height: 80px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
	line-height: 80px;
	font-size: 2em;
	font-weight: 700;
}

.sub-header-2 {
	text-align: center;
	padding-bottom: 20px;
}

/*
	END three reasons to choose us styling
*/

/*
	START about the main developer styling
*/

.about-the-main-developer {
	background: #f1f1f1;
	min-height: 400px;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
}

#zach-professional-photo {
	width: 90%;
	height: auto;
	padding-bottom: 25px;
}

/*
	END about the main developer styling
*/

/*
	START portfolio of past websites styling
*/

.portfolio-of-past-websites {
	background: #E9E9E9;
	min-height: 400px;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
}

/*
	END portfolio of past websites styling
*/